<div class="form-group row">
    <label for="@Id" class="col-sm-2 col-form-label">@Label</label>
    <div class="col-sm-10">
        <InputDate
            class="form-control" id="@Id" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@(() => Value)"/>
    </div>
</div>

@code {
    
    [Parameter]
    public string? Id { get; set; } 
    
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public DateTime? Value { get; set; }

    [Parameter]
    public EventCallback<DateTime?> ValueChanged { get; set; }
}